@font-face 
{
   font-family: Isabella;
   src: url('/oregpreshaz/static/fonts/Isabella.ttf') format("truetype");
}

.bg {
  background: url('/oregpreshaz/static/images/pince.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  position: fixed;
  width: 100%;
  height: 100%; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
  background-color: #241200;
}

.jumbotron {
  background: url('/oregpreshaz/static/images/panorama.png') no-repeat center center;
  height: 280px;
  color: white;
  text-shadow: #444 0 6px 6px;
  background-color: #009900;
}

.transparent80 {
    /* Required for IE 5, 6, 7 */
    /* ...or something to trigger hasLayout, like zoom: 1; */
    width: 100%; 
        
    /* Theoretically for IE 8 & 9 (more valid) */   
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=80);
    
    /* Older than Firefox 0.9 */
    -moz-opacity:0.8;
    
    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.8;
    
    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.8;
}

.transparent90 {
    /* Required for IE 5, 6, 7 */
    /* ...or something to trigger hasLayout, like zoom: 1; */
    width: 100%; 
        
    /* Theoretically for IE 8 & 9 (more valid) */   
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=90);
    
    /* Older than Firefox 0.9 */
    -moz-opacity:0.9;
    
    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.9;
    
    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.9;
}